.multi_drop_menu {
	font: 1em helvetica,arial,sans-serif;
	
}

.multi_drop_menu a{
	display: block;
	color: #333;
	background-color: #eee;
	padding: .2em 1em;
	border-width: 3px;
	border-color: transparent;
}

.multi_drop_menu a:hover{
	color: #fff;
	background-color: #aaa;
}
.multi_drop_menu a:active{
	background: #fff;
	color: #ccc;
}

.multi_drop_menu *{
	margin: 0;
	padding: 0;
}

.multi_drop_menu u{
	float: left;
}

.multi_drop_menu li{
	float: left;
	list-style-type: none;
	position: relative;
}

.multi_drop_menu li a{
	display: block;
	border-right-style: solid;
	background-clip: padding-box;
	text-decoration: none;
}

.multi_drop_menu li:last-child a{
	border-right-style: none;
}

.multi_drop_menu li ul{
	display: none;
}
.multi_drop_menu li ul {
	width: 9em;
}

.multi_drop_menu li li a{
	border-right-style: none;
	border-top-style: solid;
}

.multi_drop_menu li ul {
	display: none;
	position: absolute;
	left: 0;
	top: 100%;
}

.multi_drop_menu li li {
	float: none;
}

.multi_drop_menu li li ul {
	display: none;
}

.multi_drop_menu li:hover > ul{
	display: block;
}

/*.multi_drop_menu li ul li ul{
	width: 9em;
}*/

.multi_drop_menu li  li ul{
	
	position: absolute;
	left: 100%;
	top: 0%;
}

.multi_drop_menu.vertical {
	width: 9em;
}
.multi_drop_menu.vertical li a{
	border-right-style: none;
	border-top-style: solid;
}
.multi_drop_menu.vertical li li a{
	border-left-style: solid;
}
.multi_drop_menu.vertical ul,
.multi_drop_menu.vertical li{
	float: none;
}
.multi_drop_menu.vertical li ul{
	left: 100%;
	top: 0;
}

.multi_drop_menu li:hover > a{
	color: #fff;
	background-color: #aaa;
}
