figure{
	width: 430px;
	height: 430px;
	margin: 20px 20px;
	border: 1px solid #666;
	position: relative;
	float: left;
	
}

img{
	display: block;
}

figcaption{
	display: none;
	position: absolute;
	left: 85%;
	top: 14px;
	width: 130px;
	padding: 10px;
	background: #f2eaea;
	border: 3px solid red;
	border-radius: 6px;
}

figure:hover figcaption{
	display: block;
	z-index: 2;
	
}

figcaption h3{
	font-size: 14px;
	color: #000;
	margin-bottom: 6px;
}

figcaption a{
	display: block;
	text-decoration: none;
	font-size: 12px;
	color: #666;
}

/*div{
	border: 12px solid;
	border-color: transparent red transparent transparent;
	height: 0px;
	width: 0px;
}*/

figcaption::after{
	content: " ";
	position: absolute;
	border: 12px solid;
	border-color: transparent red transparent transparent;
	right: 100%; 
	top: 38%;
	height: 0px;
	width: 0px;
}
