* {
	margin: 0;
	padding: 0;
}

nav{
	margin: 50px;
	width: 150px;
}

.list1 ul{
	border: 1px solid #f00;
	border-radius: 3px;
	padding: 5px 10px 3px;
	
}

.list1 li{
	list-style-type: none;
}



.list1 li+li a{
	border-top: 1px solid #f00;
}

.list1 a{
	display: block;
	padding: 3px 10px;
	text-decoration: none;
	font: 20px "微软雅黑","宋体";
	font-weight: normal;
	color: #000;
	/*background: #ffed53;*/
}

.list1 a:hover{
	color: #069;
}
